.card-header {
  font-size: 28px;
}

.card {
  width: 50%;
  margin: 50px auto;

}

.navbar {
  // background-color: #7dbcea;
  color: rgba(255, 255, 255, 0.65);
  background: #001529;
}

a {
  text-decoration: none;
}
