
<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: #fff;" href="#">
      No Issue
    </a>
  </div>
</nav>
<div class="card">
  <div class="card-header"><strong>Verify Email</strong></div>
  <div class="card-body">
        <div class="verify-content">
          <p class="text-mute">Link has sent on your registered email. Please open your mail application and click on link to verify it.</p>
        </div>
        <div class="mb-3 d-flex justify-content-between">
          <a routerLink="/login" class="item" >Back to Login page</a>

        </div>
  </div>
</div>


