<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">Dashboard</a>
      <a mat-list-item routerLink="/drag-drop">Drag and Drop</a>
      <a mat-list-item routerLink="/edit-profile">Edit profile</a>
      <a mat-list-item routerLink="/project">Project</a>
      <a mat-list-item routerLink="/edit-project">Edit Project</a>
      <a mat-list-item routerLink="/create-project">Create Project</a>
      <a mat-list-item routerLink="/issue">Issue</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="tool-bar-container d-flex justify-content-between align-items-center">
        <div class="left d-flex align-items-center">
          <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <span>NoIssue-Angular</span>
        </div>
        <div class="right d-flex gap-3">
          <div class="menu-noti">
            <div class="dropdown">
              <a role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-regular fa-bell"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item">Action</a></li>
                <li><a class="dropdown-item">Another action</a></li>
                <li><a class="dropdown-item">Something else here</a></li>
              </ul>
            </div>
          </div>
          <div class="menu-user">
            <div class="dropdown">
              <a role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-regular fa-circle-user"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item">Profile</a></li>
                <li><a class="dropdown-item" (click)="onLogout()">logout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
